.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Playwright
/test-results/
/tests/coverage-report
.local-browsers/
/packages/playwright-core/src/generated/*
drivers/
playwright-report
test-results
/demo/
/packages/playwright/README.md
/packages/playwright-core/api.json
/tests/installation/output/
/tests/installation/.registry.json
junit-results.xml
/playwright/.cache/
